.register {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  &-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
  }

  &-header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px;
    img {
      width: 200px;
    }
  }
}
