@import "../../utils/variables.scss";

.row {
  // margin-left: -50px;
  h3 {
    // margin-left: 80px;
    font-weight: 400;
    color: $white-bone;
    margin-bottom: 15px;
  }
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  // margin-left: -30px;
  height: 250px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;

  &:hover {
    .scroll {
      background-color: black;
    }
  }
}
.movies-container {
  position: relative;
  // transform: translateX(calc(50%));

  display: flex;
  width: 100vw;
  // width: calc(100vw - 50px);
  overflow-x: hidden;

  &:hover .item {
    transform: translateX(-25%);
  }
}

.scroll {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 15px;

  color: white;
  font-size: 1.5rem;
  height: 99%;
  background-color: transparent;

  min-width: 15px;
  width: 3%;
  opacity: 0.2;
  z-index: 10;
  transition: $transition-a;
  cursor: pointer;
  &-left {
    left: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  &-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    right: 3px;
  }

  &:hover {
    font-size: 2rem;
    opacity: 0.5;
  }
}
