@import "../../utils/variables";
@import "../../utils/keyframes.scss";
.header {
  background-color: $background-grey;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  margin-bottom: 40px;
  margin-top: 10px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }

  a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: $transition-a;

    &:hover {
      color: $light-grey;
    }
  }

  .nav {
    display: flex;
    align-items: center;

    img {
      width: 90px;
      height: 30px;
      margin-right: 30px;
    }
  }
  .user {
    display: flex;
    align-items: center;
    gap: 20px;

    &-config .fabIcon {
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        width: 10px;
      }
    }
  }

  .faBell {
    color: white;
  }
}

.fabIcon {
  color: white;
  cursor: pointer;
}

.search {
  &__input {
    outline: none;
    &:focus {
      border: none;
    }
    // width: 500px;
    margin-right: 10px;
    // height: 30px;
    background-color: $dark-grey;
    border: none;
    border-radius: 7px;
    padding: 15px;
    font-size: 16px;
    color: white;
    transition: $transition-a;
  }
}

.opened {
  animation: searchBar-in 300ms ease-in-out forwards;
}
.closed {
  // display: none;
  // background-color: $background-grey;
  animation: searchBar-out 300ms ease-in-out forwards;
}
