// Colors
$main-red: #db0000;
$secondary-red: #831010;
$dark-grey: #564d4d;
$light-grey: #989393;
$very-dark-grey: #0a0a0a;
$background-grey: #0f0f0f;
$white-bone: #d9d9d9;

//transitions
$transition-a: all 200ms ease-in;

// constantes
$API-KEY: c240615e3f07215587640c5cb306a0a0;
