@keyframes searchBar-in {
  0% {
    display: none;
    opacity: 0;
    width: 0px;
    height: 30px;
  }
  1% {
    display: block;
    opacity: 0;
    width: 0px;
  }
  2% {
    opacity: 1;
    width: 0px;
  }
  100% {
    width: 500px;
    height: 30px;
  }
}
@keyframes searchBar-out {
  0% {
    width: 0px;
    height: 0px;
  }
  1% {
    display: block;
    opacity: 0;
    width: 0px;
  }
  97% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
    width: 0;
  }
}
